.icon-button {
  border: none;
  color: inherit;
  background: none;
}

.c-link {
  cursor: pointer;
}

.start-page {
  height: 500px;
  line-height: 500px;
  text-align: center;
  font-size: 30px;
  color: #ccc;
}

.left-panel {
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 40px;
}

.left-panel .button-group {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.file-search-title {
  line-height: 31px;
}